<div id="Shift-Popup" class="popup">
    <div class="content">
        <div style="text-align:left;"><b style="color:black;">Shift Firmness Tunes</b></div><br>
        <p style="color:black;">These settings allow you to customize the shift firmness and quickness to how you want it, and on properly equipped vehicles you can adjust these settings per mode (i.e. Normal mode and Sport mode).  The STREET setting is slightly firmer which reduces the nosing over feeling during shifts which really improves the drivability.  The SPORT setting gives firm and aggressive shifts which feel great under moderate to heavy acceleration.  The PERFORMANCE setting balances firm shifts that feel great at full throttle without being harsh during normal driving.  The TRACK setting maximizes the shifting performance for maximum performance during full throttle acceleration.</p>
        <p style="color:black;">Trucks and SUVs will also get the TOW setting that reduces the slippage during gear changes by making the shifts a little quicker which can reduce wear and transmission fluid temperatures.</p>
    </div>
</div>