<div class="container">
	
            <div class="card" style="background-color:#333333;">
                <div class="cardheader_DarkRed">
                    <span class="cardheadertext">Hypertech Power Chips </span>
                </div>
                <div class="cardcontainer">
                    

                    <p>Early automotive computers used replaceable PROMs or “chips” to calibrate the Electronic Control Module (ECM) for specific engine, powetrain, and vehicle combinations. Hypertech created the original Power Chips™ to recalibrate these electronic “brains” for improved performance.</p>

                    <p>As interest in Power Tuning™ grew and the variety of OEM systems increased, Hypertech developed innovative products to complement the increasingly complex on-board computer systems. Our engineers designed special carriers and mounts that allowed Hypertech Power Tuning™ programs to interface with the computer in a wide variety of vehicles.</p>

                    <p>In 1994, calibration chips were eliminated and the new generation of Electronic Control units (ECU) utilized programmable memory. Hypertech created the Power Programmer™ to upload Power Tuning programs directly into the ECU. Today Hypertech Power Tuning™ products span the spectrum of automotive technology. We continue to offer our famous Power Chips™ for older vehicles, while constantly updating our Max Energy 2.0 Power Programmer for the latest cars and trucks on the market.</p>


                </div>           
            </div>

            <div class="card" style="background-color:#333333;">
                <div class="cardheader_DarkRed">
                    <span class="cardheadertext">Power Chip™ For 1981-1995 GM Vehicles </span>
                </div>
                <div class="cardcontainer">   

                <p>Hypertech Power Chips are direct replacements for the stock chips in 1981-1995 GM vehicles. The Power Chip contains the Hypertech Power Tuning data that controls the engine’s air/fuel ratio and spark advance for maximum power and performance plus, potential gas mileage improvements. Power Chips can be installed easily, using only hand tools. Call for more information or specific applications.</p>

                <p>The Street Runner™ Power Chip is designed for daily street driving or competition in unmodified vehicles using a stock thermostat.</p>

                <p>The ThermoMaster™ Power Chip is designed to be used with a 160° or 180° PowerStat thermostat.</p>

                <strong>Popular applications include:</strong>
                1994-81 Buick/Oldsmobile Car<br />
                1993-81 Camaro/Firebird/Corvette/Impala SS/Caprice<br />
                1995-84 Truck/SUV V6/V8<br />



                </div>           
            </div>
      
</div>

