<div class="container">
	
    <div class="speed-card">
        <div class="cardheader_DarkRed">
            <span class="cardheadertext">In-Line Speedometer Calibrator Module</span>
        </div>

        <div class="cardcontainer">
            <p>
                Hypertech’s In-line Speedometer Calibrator Module is an in-line module to correct the speedometer and odometer for non-stock tire sizes and/or rear gear ratios. This module is perfect for vehicles with computers that don’t allow for tire size and/or rear gear ratio correction or re-calibrate for tire sizes and/or rear gear ratios outside the range of programmers.
            </p>            
        </div>


    </div>

    <div class="speed-card card-table">
        <div class="speedcard-left">
            <h3>Speedometer Calibrator</h3>                 			                                    
                <p>If you’ve installed tires that are larger or smaller than original equipment tires, or if you have installed a ring and pinion gear set with a different rear gear ratio, the Speedometer Calibrator allows you to correct speedometer and odometer readings. The vehicle’s computer calculates your vehicle’s speed based on the diameter of the stock tires. If you’ve installed taller or shorter tires, or changed the rear gear ratio, the vehicle’s computer doesn’t know how fast your vehicle is going. As a result, the speedometer readings will not be accurate (as required by law).</p>                    
                        <br>
            <p>Using the USB cable connect, the In-line Speedometer Calibrator Module to your PC and enter the new tire height and/or rear gear ratio. There are no limitations for increasing tire height or rear gear ratios. Next, disconnect the factory connector to the instrument cluster (behind the dash), snap in the Speedometer Calibrator Module, reconnect the cluster, and you’re done! In a matter of minutes, you can accurately correct your speedometer and odometer readings (as required by law).</p>
        </div>

        <div class="speedcard-right" style="background:url({{ 'SpeedoCal.gif' | asset_url }});background-size:cover;background-repeat:no-repeat;background-position:center;">
                  
        </div>


    </div>


</div>

