
<style>
    .polaris-powersport.left #HeaderImage {
        background-image: url({{ 'PowerSportRZR_Left.png' | asset_img_url: 'master' }});
    }
    .polaris-powersport.right #HeaderImage {
        background-image: url({{ 'PowerSportRZR_Right.png' | asset_img_url: 'master' }});
    }
</style>

<div class="polaris-powersport left">
	
    <div class="productfade">

        <div id="HeaderImage">  

            <div class="headerimage-wrap">

                <div class="headerimage-left">
                    <a class="featurebtn" id="btnSpectrumSection"><div class="feature-wrap"></div></a>
                </div>

                <div class="headerimage-right">
                    <a class="featurebtn" id="btnAccessoriesSection">
                    <div class="feature-wrap"></div></a>
                </div>
            </div>
        </div>


    </div>
    
</div>

