<div class="container">
	
    <div class="interceptor-card">
        <div class=" cardheader_DarkRed">
            <span class="cardheadertext">The Most Advanced Power Tuning™ Technology for 2011-2014 Chrysler/Dodge/Jeep/Ram and 2007-2014 Toyota/Lexus</span>
        </div>

        <div class="cardcontainer">

            <p>Hypertech’s Interceptor is a smart technology design that works with today’s generation of complex engine computers. The Interceptor easily mounts under the hood of a vehicle and plugs into the factory harness to constantly monitor the vehicle’s functions. The Interceptor then automatically recalculates the factory’s computer performance calibrations with legendary Hypertech Power Tuning. This means more horsepower and torque, quicker acceleration, better driveability, and improved MPG.</p>            
                    
            <div class="download-links">
                <a class="button_red" id="btnInterceptorInstructions">Installation Instructions</a>   
                <a class="button_red" id="btnInterceptorVideo">Installation Videos</a>
                <a class="button_red" href="/pages/software-downloads/">Software Downloads</a>
            </div> 

            <!-- The Modal -->
            <div id="interceptorInstructionsPopup" class="overlay">
                <div class="popup-1">       
                    <a class="close" href="#">×</a>
                    <div class="content">
                        <h2>Legacy Product Manuals</h2>  
                        <ul>
                            <li> <a href="https://cdn.shopify.com/s/files/1/0518/4264/6211/files/econ.pdf?v=1611135153" target="_blank"><b>Max Energy Econ</b></a></li>

                            <li><a href="https://cdn.shopify.com/s/files/1/0518/4264/6211/files/sport.pdf?v=1611135176" target="_blank"><b>Max Energy Sport</b></a></li>

                            <li><a href="https://cdn.shopify.com/s/files/1/0518/4264/6211/files/Complete_Manual_V05_30_12.pdf?v=1611135213" target="_blank"><b>HyperPAC</b></a></li>

                            <li><a href="https://cdn.shopify.com/s/files/1/0518/4264/6211/files/PP3.pdf?v=1611135256" target="_blank"><b>Power Programmer III</b></a></li>
                        </ul>


                        <h2>Interceptor Specific Instructions</h2>
                        <ul>
                            <li><a href="https://cdn.shopify.com/s/files/1/0518/4264/6211/files/Interceptor_Installation.pdf?v=1611135496" target="_blank"><b>General Instructions</b></a></li>
                        
                            <li><a href="https://cdn.shopify.com/s/files/1/0518/4264/6211/files/5.7car_6.4SUV.pdf?v=1611135536" target="_blank"><b>2011-2013 Dodge 5.7L Car and 6.4L SRT8 Car and SUV</b></a></li>

                            <li><a href="https://cdn.shopify.com/s/files/1/0518/4264/6211/files/5.7Dodge-JeepSUV.pdf?v=1611135588" target="_blank"><b>2011-2013 Dodge/Jeep SUV 5.7 Hemi</b></a></li>

                            <li><a href="https://cdn.shopify.com/s/files/1/0518/4264/6211/files/Ram5.7Hemi.pdf?v=1611135624" target="_blank"><b>2011-2013 RAM 5.7L</b></a></li>

                            <li><a href="https://cdn.shopify.com/s/files/1/0518/4264/6211/files/JeepJK3.6.pdf?v=1611135700" target="_blank"><b>2012-2013 Jeep JK 3.6L</b></a></li>

                            <li><a href="https://cdn.shopify.com/s/files/1/0518/4264/6211/files/Ram3.6.pdf?v=1611135743" target="_blank"><b>2013 RAM 3.6L</b></a></li>
                            
                            <li><a href="https://cdn.shopify.com/s/files/1/0518/4264/6211/files/3.6Car.pdf?v=1611135782" target="_blank"><b>2011-2013 Dodge/Jeep Car/SUV 3.6L</b></a></li>

                            <li><a href="https://cdn.shopify.com/s/files/1/0518/4264/6211/files/Toyota5.7inst.pdf?v=1611135821" target="_blank"><b>2007-2014 Toyota 5.7L iForce</b></a></li>

                            <li><a href="https://cdn.shopify.com/s/files/1/0518/4264/6211/files/4.6TundraInterceptor.pdf?v=1611135857" target="_blank"><b>2007-2014 Toyota 4.6L iForce</b></a></li>
                        </ul>

                    </div>
                </div>
            </div>

            <div id="interceptorVideoPopup" class="overlay">
                <div class="popup-1">       
                    <a class="close" href="#">×</a>
                    <div class="content">
                        <h2>Legacy Product Manuals</h2>  
                        <ul>
                            <li> <a href="https://cdn.shopify.com/s/files/1/0518/4264/6211/files/econ.pdf?v=1611135153" target="_blank"><b>Max Energy Econ</b></a></li>

                            <li><a href="https://cdn.shopify.com/s/files/1/0518/4264/6211/files/sport.pdf?v=1611135176" target="_blank"><b>Max Energy Sport</b></a></li>

                            <li><a href="https://cdn.shopify.com/s/files/1/0518/4264/6211/files/Complete_Manual_V05_30_12.pdf?v=1611135213" target="_blank"><b>HyperPAC</b></a></li>

                            <li><a href="https://cdn.shopify.com/s/files/1/0518/4264/6211/files/PP3.pdf?v=1611135256" target="_blank"><b>Power Programmer III</b></a></li>
                        </ul>


                        <h2>Interceptor Specific Instructions</h2>
                        <ul>
                            <li><a href="https://cdn.shopify.com/s/files/1/0518/4264/6211/files/Interceptor_Installation.pdf?v=1611135496" target="_blank"><b>General Instructions</b></a></li>
                        
                            <li><a href="https://cdn.shopify.com/s/files/1/0518/4264/6211/files/5.7car_6.4SUV.pdf?v=1611135536" target="_blank"><b>2011-2013 Dodge 5.7L Car and 6.4L SRT8 Car and SUV</b></a></li>

                            <li><a href="https://cdn.shopify.com/s/files/1/0518/4264/6211/files/5.7Dodge-JeepSUV.pdf?v=1611135588" target="_blank"><b>2011-2013 Dodge/Jeep SUV 5.7 Hemi</b></a></li>

                            <li><a href="https://cdn.shopify.com/s/files/1/0518/4264/6211/files/Ram5.7Hemi.pdf?v=1611135624" target="_blank"><b>2011-2013 RAM 5.7L</b></a></li>

                            <li><a href="https://cdn.shopify.com/s/files/1/0518/4264/6211/files/JeepJK3.6.pdf?v=1611135700" target="_blank"><b>2012-2013 Jeep JK 3.6L</b></a></li>

                            <li><a href="https://cdn.shopify.com/s/files/1/0518/4264/6211/files/Ram3.6.pdf?v=1611135743" target="_blank"><b>2013 RAM 3.6L</b></a></li>
                            
                            <li><a href="https://cdn.shopify.com/s/files/1/0518/4264/6211/files/3.6Car.pdf?v=1611135782" target="_blank"><b>2011-2013 Dodge/Jeep Car/SUV 3.6L</b></a></li>

                            <li><a href="https://cdn.shopify.com/s/files/1/0518/4264/6211/files/Toyota5.7inst.pdf?v=1611135821" target="_blank"><b>2007-2014 Toyota 5.7L iForce</b></a></li>

                            <li><a href="https://cdn.shopify.com/s/files/1/0518/4264/6211/files/4.6TundraInterceptor.pdf?v=1611135857" target="_blank"><b>2007-2014 Toyota 4.6L iForce</b></a></li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="interceptor-card">
        <img src="{{ 'MOPAR-Gains.gif' | asset_img_url: 'master' }}" alt="MOPAR Gains" width="100%" height="100%" style="border-radius:5px;" />
    </div>


    <div class="interceptor-card">
        <img src="{{ 'Toyota-Gains.gif' | asset_img_url: 'master' }}" alt="Toyota Gains" width="100%" height="100%" style="border-radius:5px;" />
    </div>

    <div class="interceptor-card card-table">
        <div class="table-section">

            <div class="first-table">

                <span>Chrysler/Dodge/Jeep/Ram</span>

                <table>
                    <thead>
                        <tr>
                            <th>Part#</th><th>Applications</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>705001</td><td>2011-13 Chrysler 300/Dodge Challenger/Charger 5.7 Hemi</td>
                        </tr>

                        <tr>
                            <td>705002</td><td>2011-12 Ram 1500/2500/3500 5.7 Hemi</td>
                        </tr>

                         <tr>
                            <td>705003</td><td>2011-13 Dodge Durango/Jeep Grand Cherokee 5.7 Hemi</td>
                        </tr>

                        <tr>
                            <td>705003</td><td>2013 Ram 1500/2500/3500 5.7 Hemi</td>
                        </tr>

                        <tr>
                            <td>705004</td><td>2011-13 Dodge Challenger SRT8 6.4 Hemi</td>
                        </tr>

                        <tr>
                            <td>705005</td><td>2012-13 Chrysler 300/Dodge Charger SRT8 6.4 Hemi</td>
                        </tr>

                        <tr>
                            <td>705005</td><td>2012-2013 Jeep Grand Cherokee SRT-8 6.4 Hemi</td>
                        </tr>

                        <tr>
                            <td>705006</td><td>2012-2013 Jeep Wrangler JK 3.6</td>
                        </tr>

                        <tr>
                            <td></td><td>2013 Ram 1500 3.6</td>
                        </tr>
                    
                    </tbody>
                    </tr>
                </table>
            </div>

            <div class="second-table">

                <span> </span>

                <table>
                    <thead>
                        <tr>
                            <th>Part#</th><th>Applications</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>705007</td><td>2011-13 Chrysler 300/Dodge Challenger/Charger 3.6</td>
                        </tr>

                        <tr>
                            <td></td><td>2011-13 Dodge Durango 3.6</td>
                        </tr>

                         <tr>
                            <td></td><td>2011-14 Jeep Grand Cherokee 3.6</td>
                        </tr>
                    </tbody>
                    </tr>
                </table>

                <p>Jeep JK Edition (Includes programmer with new Jeep JK features)</p>

                <table>
                    <thead>
                        <tr>
                            <th></th><th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>755006</td><td>2012-2013 Jeep Wrangler JK 3.6</td>
                        </tr>
                    </tbody>
                    </tr>
                </table>
            </div>
        </div>

        <div class="table-section section-two">

            <div class="first-table">

                <span>Toyota/Lexus</span>

                <table>
                    <thead>
                        <tr>
                            <th>Part#</th><th>Applications</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>706001</td><td>2007-2016 Toyota Tundra 5.7</td>
                        </tr>
                        <tr>
                            <td></td><td>2008-2016 Toyota Sequoia 5.7</td>
                        </tr>
                         <tr>
                            <td></td><td>2008-2016 Toyota Land Cruiser 5.7</td>
                        </tr>
                        <tr>
                            <td></td><td>2008-2016 Lexus LX570 5.7</td>
                        </tr>
                    </tbody>
                    </tr>
                </table>
            </div>

            <div class="second-table">

                <span> </span>

                <table>
                    <thead>
                        <tr>
                            <th>Part#</th><th>Applications</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>706001</td><td>2010-2014 Toyota Sequoia 4.6</td>
                        </tr>

                        <tr>
                            <td></td><td>2010-2016 Toyota Tundra 4.6</td>
                        </tr>

                         <tr>
                            <td></td><td>2010-2016 Lexus GX460 4.6</td>
                        </tr>
                    </tbody>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>


<script>
    // Get the modal
    var modalinterceptorInstructions = document.getElementById("interceptorInstructionsPopup");
    var modalinterceptorVideo = document.getElementById("interceptorVideoPopup");

    // Get the button that opens the modal
    var btninterceptorInstructions = document.getElementById("btnInterceptorInstructions");
    var btninterceptorVideo = document.getElementById("btnInterceptorVideo");

    // Get the <span> element that closes the modal
    var spaninterceptorInstructions = document.getElementsByClassName("close")[0];
    var spaninterceptorVideo = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal 
    btninterceptorInstructions.onclick = function() {
      modalinterceptorInstructions.style.display = "block";
      modalinterceptorInstructions.style.visibility = "visible";
      modalinterceptorInstructions.style.opacity = "1";
    }

    btninterceptorVideo.onclick = function() {
      modalinterceptorVideo.style.display = "block";
      modalinterceptorVideo.style.visibility = "visible";
      modalinterceptorVideo.style.opacity = "1";
    }

    // When the user clicks on <span> (x), close the modal
    spaninterceptorInstructions.onclick = function() {
      modalinterceptorInstructions.style.display = "none";
    }

    spaninterceptorVideo.onclick = function() {
      modalinterceptorVideo.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modalinterceptorInstructions) {
            modalinterceptorInstructions.style.display = "none";
        }

        if (event.target == modalinterceptorVideo) {
            modalinterceptorVideo.style.display = "none";
        }
    }
</script>   

