<div class="container">
	
        <div class="productpage-card">
            <div class="card-hero" style="background-image:url({{ 'REACT_Banner1.jpg' | asset_url }});">
                <h1>Complete Throttle Response Control at your Fingertips</h1>
            </div>

                <div class="card-content">



                    <p>REACT™*  is Hypertech’s innovative new throttle optimizer which combines Hypertech’s history of award-winning Engineering and exciting performance. The REACT offers fully customizable control over your vehicle’s throttle response. The simple control knob allows you to switch between multiple modes and control the throttle intensity of each mode on-the-fly. The REACT installs easily and is completely plug-and-play, has an automatic setup sequence so no disassembly is required, comes with a magnetic A/C vent mount (Pedestal swivel mount also available - Sold separately at hypertech.com/react.aspx), and doesn’t void your factory warranty. Plus the REACT is internet updateable. Three (3) versions of the REACT throttle optimizer are available to fit your particular driving needs...Performance, Off-Road, and Tow.</p>


                    <p>Once the installation is complete, the REACT Throttle Optimizer is ready to use. The REACT offers fully customizable control over your vehicle’sthrottle response. The simple control knob allows you to switch between multiple modes and control the intensity of each mode all on-the-fly. Pressing the knob clicks between each drive mode curve. Rotating theknob up increases the throttle intensity, while rotating the knob down decreases the throttle intensity. Your pedal position will need to be below a safe threshold for a new selection to take effect. (NOTE: Approx. 25% - Percentage varies with application.) </p>   


                    <strong>PERFORMANCE version:</strong><br /><br />

                    
                    <p>The throttle curves in this model are designed for the enthusiast who wants a more exciting ride.<br><b>Modes:</b>Track, Sport, Street, Economy, Stock</p>           
            
                    <strong>TOW version:</strong><br /><br />

                    <p>The throttle curves in this model are designed to improve the power delivery when you’re towing or hauling.<br><b>Modes:</b>Heavy Tow, Tow, Economy, Wet/Ice, Stock</p>
            
                    <strong>OFF-ROAD version:</strong><br /><br />

                    <p>The throttle curves in this model are specifically designed to provide better power delivery in your off-road vehicle in various terrains.<br><strong>Modes:</strong>Mud/Sand, Street, Economy, Crawl, Stock</p>

                </div>

        </div>



        <div class="productpage-card">
            <div class="card-hero" style="background-image:url({{ 'REACT_Banner2.png' | asset_url }});">
                <h1>Feature Details</h1>
            </div>

                <div class="card-content">

                    <strong>Multiple Levels Of Safety Protection</strong>    <br /><br /> 

                    <p>Hypertech’s REACT Throttle Optimizer has built in safety protection. Our Engineers spec’d a design that incorporates multiple checks of the accelerator pedal signals coming and going from the microprocessor inside.  If any process is not performing exactly as expected the REACT will enter a bypass mode which removes it’s circuitry from the path to the ECU, and flashes an error signal on the control unit. This makes the REACT the most thorough design on the market!</p>

                    <strong>The React Is A Must For Off-Roaders</strong><br /><br />

                    <p>Hypertech’s REACT Off-Road Version was developed specifically to offer throttle curves specifically for the off-road enthusiast in mind. Our Engineers jumped at the chance to tailor the throttle response curves for the off-road because they’re enthusiasts too! The MUD/SAND curve brings the power on quickly to help clear the tires out and get you going. The CRAWL curve smooths the pedal response to allow even power delivery even over the roughest terrain. The STREET and ECONOMY curves allow you to make the best of your rig on the street too.</p>


                    <strong>Custom Tuning Software</strong><br /><br />

                    <p>While most people will be completely happy with the preset curves, and full adjustability of the REACT, we wanted to make sure we offered the best option for even the most technical enthusiasts. The REACT Custom Tuning Software allows full control of the curves, adjustment gains, and dampening factors just like the Engineers used to setup the curves we like. You can even share your new curves with your friends, car/Jeep club members, etc. There’s nothing like the REACT when it comes to customization!</p>    

                    <p>Hypertech developed the REACT Tuning Optimizer software to allow you to develop your own custom pedal curves if you want to further customize your throttle response. You can download the REACT Tuning Optimizer software <a target="_blank" href="/pages/software-downloads"><strong>HERE.</strong></a> Once installed, open the Tuning Optimizer software and connect the REACT APP Module (not the Controller Module) to your PC or Windows laptop via the supplied micro USB cable (the cable that connects the REACT APP Module with the REACT Controller Module). Plug the small end into the REACT APP Module and the large end into your laptop or PC. You can now adjust your own curves, save the curve set, or store another curve set on your REACT APP Module that you got from a friend or tuner in your Car/Jeep/Truck club. Once you’re done making changes to a curve or importing a new Tune Set, click the “Write to Module” button, followed by the "Disconnect From APP” button, and exit the program. You can now reconnect your REACT APP Module and Controller Module.</p>


                    <strong>Note: The REACT Tuning Optimizer software is ONLY compatible on a Windows-based computer.</strong>

                    <div class="download-links">              
                        <a class="button" target="_blank" href="https://youtu.be/jBY6uQC4se0">Tuning Software Instructional Video </a>

                        <a class="button" target="_blank" href="/pages/software-downloads">Software Downloads</a>
                    </div>

                </div>

        </div>


        <div class="productpage-card">

            <div class="content-left">
                
                <div class="card-image-left" style="background:url({{ 'React_Pedestal.gif' | asset_url }});">
                
                </div>

                <div class="card-content">

                    <h3>PEDESTAL SWIVEL MOUNT - PN 107000</h3>


                    <p>An alternative to the A/C vent mount (included), Hypertech also offers this pedestal swivel mount. Small, compact, and ergonomically designed, it’s an excellent option for the REACT Throttle Optimizer. The powerful magnetic surface keeps the REACT securely in place. Includes a small metal disk that easily adheres to the back of the REACT. The adhesive surface attaches firmly to your dash. To order, please call and speak to our customer service department toll free at 901.382.8888</p>
                    
                    <p>Cost: $15 plus Shipping and Handling.</p>   
                        

                </div>
                
            </div>

        </div>


</div>

