<div class="container">
	

	<div class="jk20-item-item">
			<div class="horz-img-left" 
			style="background-image: url({{ '300x780-JK.gif' | asset_img_url: 'master' }});">            
        </div>

		  <div class="content-item-right">
                <h3>
					It’s Everything JK Owners Want From A Power Programmer...
				</h3>                   			                                    
                <strong>Innovative, Intelligent, &amp; Intuitive</strong>
				<br><br />


                <p>The New Max Energy 2.0 Power Programmer JK Edition for 2014-2007 Jeep JKs takes the lead with an expanded menu of desired features and options to maximize power and control on and off the road. The Max Energy 2.0 also has a larger backlit LCD screen for quick and easy setup anduser-friendly navigation for simple installation, tuning, and feature options.</p>

                <br> 

               <strong>Save Up To Four Custom-Tailored Programs From Daily Driving To Crawling Quickly &amp; Easily</strong>
				
				<br>

                <p>We know you use your JK in many different ways and you need to customize its performance program from everything from daily driving to crawling and you don’t want to be slowed down to change programmed options. With the Max Energy 2.0 you can tailor your options and save up to four (4) programs for quick changes. You can name each of the programs so you can remember the settings at a glance. So when you decide to get off the road and get into the mud or rocks, or let someone borrow your Jeep, all you have to do is plug in the Max Energy 2.0 and quickly select (by name) your custom program and the Max Energy 2.0 will automatically program your JK with the features you’ve saved. No more going through the entire menu just because you want something different. It’s that easy!</p>

                <br> 
                
				<strong>Emissions Certified 50-State Legal</strong>
				
				<br>

                <p>Hypertech offers an emissions certified version of the Max Energy 2.0 JK Edition that is legal in all 50 states, including California. Only applications that have been emissions certified for sale in California are available in this version. In addition, there is NO DIFFERENCE IN POWER, PERFORMANCE, OR FEATURE OPTIONS for the same vehicles offered in the non-certified version.</p>
                
            </div>

	</div>



	<div class="jk20-item-item">
		<div class="content-item-left">
                
				<h3>On-The-Fly Quick Commands</h3>

                <p>Note: The Max Energy 2.0 MUST remain plugged into the diagnostic port for on-the-fly features to function. On-the-fly features below are NOT available in all applications. The year of the vehicle will determine the features available for that application.</p>                   			                                    
                
                <strong>Idle RPM Override</strong>

                <p>Allows instant adjustment of the engine idle speed, on-the-fly, when you need full power from your lternator for winching or welding, and then go back to normal when you disconnect it. This can be pretty handy if you just need a little higher idle for a few minutes, and don’t have time to go through the entire programming sequence.</p>
                <br> 
                
                <strong>Diff Lock Control</strong>
				
                <p>For more power to all 4 wheels, you can choose to lock front and rear differential lockers in 4L, 4H, or 2WD mode.</p>
                <br> 
                
                <strong>Traction Control</b></strong>

                <p>Eliminates the factory traction control, so you can control your throttle and braking without computer assistance.</p>
                <br> 
                
                <strong>Disable TPMS</strong>
                <p>Disable the TPMS warnings when using aftermarket wheels without TPMS sensors.</p>
                <br> 
                
                <strong>Engine Fan Control</strong>
                <p>Manually override the engine cooling fan operation. Keep it on or turn it off regardless of engine temp.</p>
                
        </div>
		<div class="horz-img-right" 
			style="background-image: url({{ '300x700-JK.gif' | asset_img_url: 'master' }});">            
        </div>
	</div>




	<div class="jk20-item-item">
			<div class="horz-img-left" 
			style="background-image: url({{ '300x760-JK.gif' | asset_img_url: 'master' }});">            
        </div>

		  <div class="content-item-right">
                
				 <h3>Off-road Specific Programmable Features</h3> 
                
                <strong>TPMS Pressure</strong>

                <p>Allows adjustment of the tire pressure threshold from 2-100 PSI that triggers the warning for front, rear, or all tires.</p>
                <br>
                
                <strong>Idle RPM</strong>

                <p>Choose custom idle speed settings for different situations. You can adjust the idle RPM for 4L completely separately from the 4H/2WD idle RPM. With bigger tires you may want to raise the RPM in 4L to help you start moving up rocks and steep grades and in 2WD/4H to help get started from a stop sign or just to keep from bogging the engine down.</p>

                <p>And with the “winch” idle, an alternate idle RPM automatically kicks in when the ECU detects you need the extra capacity and will automatically return to normal once the alternator load has returned to normal. Each Idle RPM setting is adjustable from 700-1800 RPM in 50 RPM increments.</p>
                <br>
                
                <strong>Throttle Response</strong>

                <p>A crawl tune and street tune all in one! Custom tailor the throttle response for 4Lo, Low, Mid, and High speeds independently. The throttle response will automatically change to your programmed choice when the transfer case is shifted into 4L, and at different speeds when in 4H and 2H, based on your selections. For off-road you can adjust the 4L throttle response to be less responsive than stock to prevent the jerkiness that happens when you’re trying to crawl over rocks and get bounced around. For normal driving, you’ll want to adjust the Mid and High speed settings. Mid is basically below 40 mph, and High is above 40 mph. Each range is independently adjustable from -50% to +50%, in 5% increments. Our preferences for these settings are marked with “HT” in the programmer. This is an exclusive feature only offered by Hypertech.</p>               
                            
            </div>

	</div>



	<div class="jk20-item-item">
		
		<div class="content-item-left">
                
				 <h3>General Programmable Features</h3>   

                <strong>Throttle Body</strong>
                <p>Corrects DTC/engine idle problems caused by the Viper throttle body.</p>
                <br>
                                
                <strong>Speedometer Calibrator</strong>

                <p>Corrects speedometer readings for tire sizes up to 44” and/or non-stock rear gear ratios.</p>
                <br>
                
                <strong>Top-Speed Limiter</strong>

                <p>Lower the top-speed limiter to 45 mph for special situations or raise the top-speed limiter to match the speed rating of factory-approved tires.</p>
                <br>
                
                <strong>Rev Limiter</strong>

                <p>Raise the engine’s rev limiter for an extended power range after gear changes and to keep the engine in the “sweet spot” of its power curve.</p>
                <br>
                
                <strong>Cooling Fan “On/Off” Temps</strong>
                <p>Adjust on/off temperatures of the cooling fans to match the temp rating of the installed thermostat.</p>

                
        </div>
		
		
		<div class="horz-img-right" 
			style="background-image: url({{ 'test-JK.gif' | asset_img_url: 'master' }});">            
        </div>

		  

	</div>



</div>

