<div class="page-width contentContainer page-{{ page.handle }}">
  <div class="contentWrapper">
    <div class="content-card">

 
<div class="page-hero" style="background:url({{ 'support-faqs.png' | asset_url }});">
      <h1>{{ page.title }}</h1>
 </div>


        
<div class="contactus-content">

        

        <p>
            <strong>Hypertech</strong>
            <br>7375 Adrianne PL
            <br>Bartlett, TN 38133-8958
        </p>

        <p>Phone: 901-385-1888</p>

        <p>
            <strong>Tech Support Hours: </strong>
            8:00am-5:00pm CST. Mon-Fri
        </p>        

        <p>For tech support please have your product serial<br>number available at the time of your call.</p>        

        <p>Phone: 901-382-8888</p>

        <p><a href="mailto:techsupport@hypertech.com" style="font-weight:bolder;">techsupport@hypertech.com</a></p>

        <p>
            <strong>Sales</strong>
            <br>
            <a href="mailto:sales@hypertech.com" style="font-weight:bolder;">sales@hypertech.com</a>
        </p>

        <p>
            <strong>Human Resources, Job Applicants</strong>
            <br>
            <a href="mailto:hr@hypertech.com" style="font-weight:bolder;">hr@hypertech.com</a>
        </p>

            
            

        
        {{ page.content }}

</div>


    </div>
  </div>
</div>

