<div class="page-width contentContainer page-{{ page.handle }}">
  <div class="contentWrapper">
    <div class="content-card">

 
<div class="page-hero" style="background:url({{ '50-State-header.gif' | asset_url }});">
      
 </div>


        
<div class="carb-content">

          
            <h2>Emissions and CARB information for California Residents</h2>

            <p>The following information applies to Hypertech customers who live in the state if California and own a Hypertech tuning product for a diesel vehicle application.</p>

            <p>The State of California requires that all aftermarket tuning products sold in California be tested and certified for emissions compliance. Following new emission test requirements set by the California Air Research Board (CARB) for aftermarket diesel tuning products Hypertech is completing all required testing.</p>

           <p>All required tests and certifications have been completed for the following diesel applications and the diesel tuning product passed without any modification.</p>

            
            <ul>
                <li><b>2008-2010 Ford F-Series Super Duty Powerstroke</b></li>
                <li><b>2007-2010 GM Silverado &amp; Sierra 2500\3500HD Duramax</b></li>
            </ul>
            

            <p>If you are the owner of any of the diesel tuning products for the applications listed above and if you reside in the state of California, the following information will inform you on how to be fully compliant with CARB requirements.</p>
            <br />
            
            
            <div class="carb-row">
                <div class="carb-left">                    
                    <h2>What you must do?</h2>

                    <p>The tuning file that is stored in your tuning product, the same file that you have been using in your vehicle has been approved by CARB. There is no update needed to be in full compliance. The only requirement is that Hypertech supply you with an EO label that should be placed on your vehicle. It is required by law that this decal be placed in the driver’s door jamb as shown to the right. The original label should either be removed and/or covered with the new one.</p>

                    <p>The label displays the CARB issued EO Certification Number and Recall Service Confirmation for you to place on your vehicle. To obtain an EO label, please contact our tech support department toll free at 1-800-532-3351. You can also print an EO confirmation label by choosing the appropriate vehicle in the Vehicle Registration Renewal section below.</p>
                    <br>
                    
                </div>

                <div class="carb-right">
                    <img src="{{ 'CARBDecallocation.jpg' | asset_img_url: 'master' }}">                    
                </div>

            </div>

            <h2>Vehicle Registration Renewal</h2>

            <p>The State of California requires the completion of emission recall repairs prior to vehicle registration renewal. Be sure to save the labels displaying the CARB issued EO Certification Number and Recall Service Confirmation for you to place on your vehicle and the tuning device. You can also, at any time, print out an update confirmation from below by selecting EO information for the appropriate vehicle model.</p>

            
            <strong>CARB EO Labels</strong>
            <br /><br/>

            <ul>  

                <li>2008-2010 Ford F-Series Super Duty Powerstroke<br><a style="text-decoration: none; font-size:12px; font-weight:bold;" target="_blank" href="https://cdn.shopify.com/s/files/1/0518/4264/6211/files/PowerStrokeCARB.pdf?v=1611138400" onclick="_gaq.push(['_trackEvent', 'CARB PDF', 'Download', '2008-2010 Ford F-Series Super Duty Powerstroke']);">Click here for Printable PDF</a></li>

                <li>2007-2010 GM Silverado &amp; Sierra 2500\3500HD Duramax<br><a style="text-decoration: none; font-size:12px; font-weight:bold;" target="_blank" href="https://cdn.shopify.com/s/files/1/0518/4264/6211/files/DuramaxLabel.pdf?v=1611138425" onclick="_gaq.push(['_trackEvent', 'CARB PDF', 'Download', '2007-2010 GM Silverado &amp; Sierra 2500\3500HD Duramax']);">Click here for Printable PDF</a></li>

            </ul>
            
            <strong>Tests in Progress</strong>

            <p>Hypertech is curently in the process of testing other diesel applications</p>            
          
          
            <ul>
                <li>2007-2009 Dodge/RAM Trucks equipped with 5.9L Cummins turbocharged, diesel engines.</li>
                <li>2007-2012 Dodge/RAM Trucks equipped with 6.7L Cummins turbocharged, diesel engines.</li>
                <li>2004-2007 Ford Trucks equipped with 6.0L Power Stroke turbocharged, diesel engines.</li>
                <li>2000-2004 Ford Trucks equipped with 7.3L Power Stroke turbocharged, diesel engines.</li>
                <li>2004-2007 GM Trucks equipped with 6.6L Duramax turbocharged, diesel engines.</li>
            </ul>
            <br>            

            <p>If you are the owner of any of the diesel tuning products for the applications listed above, reside in the state of California, and if you haven’t registered your tuning product, please register it by clicking <a style="text-decoration: none; font-size:12px; font-weight:bold;" target="_blank" href="http://209.12.144.7/register.php">HERE</a>. By registering your product we will be able to contact you regarding the test results when they become final. Or you can check back here for the latest information regarding CARB testing and compliance for your diesel application.</p>
            <br>

            <h2>If you need help</h2>
            <p>If you have any questions you can call Hypertech toll free at 1-800-532-3351.</p>
        
        
        {{ page.content }}

</div>


    </div>
  </div>
</div>

