<div class="page-width contentContainer page-{{ page.handle }}">
  <div class="contentWrapper">
    <div class="content-card">

   <img src="{{ 'Time-Line.gif' | asset_img_url: 'master' }}" alt="Hypertech Timeline" />
   
   <h1>{{ page.title }}</h1>

   {{ page.content }}

    </div>
  </div>
</div>
