<div class="page-width contentContainer page-{{ page.handle }}">
  <div class="contentWrapper">
    <div class="content-card">

 
        <div class="page-hero">
        <img src="https://cdn.shopify.com/s/files/1/0518/4264/6211/files/Inline-Header.gif?v=1644487167" /><br />
        </div> 


            
            <div class="downloads-content">

                <div class="downloads-item">
                    <div class="downloads-content">

                            <div class="cardcontainer" style="padding-top:0;">
                                <p>For Configuration Software instructions click <a href="/pages/in-line-speedometer-module-programming-instructions">here</a>. For USB Driver installation instructions click <a href="/pages/inline-speedometer-usb-driver-installation">here</a> </p>
                                <p>
                                    The following is a list of applications
                                    that are supported. Note that new vehicles are
                                    continually being added to the list, so please check our web site at <a target="_blank" href="http://www.hypertech.com">www.hypertech.com</a> for the
                                    most recent list
                                </p>
                                <b>Installation instructions</b>
                                <p>
                                    The wiring and connections for the
                                    in-line speedometer calibrator module is different for each part number
                                    listed below. Therefore, you have to make sure you that the part number
                                    you have fits the vehicle that you install it on. If your vehicle is not
                                    listed in the tables below, check on <a target="_blank" href="http://www.hypertech.com">www.hypertech.com</a>
                                    or contact Hypertech Tech Support&nbsp;if
                                    you have any doubts that the part number&nbsp;fits your application.&nbsp;
                                </p>
                                <p>
                                    Select the installation manual for your
                                    application from the list below. The manual&nbsp;are in   PDF format which
                                    requires Adobe Acrobat Reader to&nbsp;view the&nbsp;file. If you do not&nbsp;have Acrobat&nbsp;Reader on your
                                    computer, you can install&nbsp;a free copy direct from Adobe's website at <a target="_blank" href="https://get.adobe.com/reader/">Get Adobe Reader</a>.&nbsp;The instructions show how to remove
                                    the instrument panel cluster and connect the inline module.&nbsp;&nbsp;
                                </p>
                            </div>  
                    </div>
                    
                </div>

        </div>


    </div>


    <div class="content-card-next">

 
        <div class="section-title">
        <span>Supported Ford Vehicles and Instructions</span>
        </div> 


            
        <div class="downloads-content">

                <table width="100%" cellspacing="0" cellpadding="3" border="0">
                        <tbody><tr>
                            <td width="600px"><strong>Application</strong></td>
                            <td><strong>Part number</strong></td>
                            <td><strong>Manual</strong></td>
                        </tr>
                        <tr>
                            <td>2021 Ford F-150 Trucks</td>
                            <td>730125</td>
                            <td><a href="https://www.webservice99.com/hypertech/ProductManuals/InlineSpeedo/730125_2_VSS_Instlltn_Prcdr.pdf">Installation Manual</a></td>
                        </tr>
                        <tr>
                            <td>2016-2020 Ford F-150 &amp; 2017 up Ford F\250\350\450 Trucks</td>
                            <td>730125</td>
                            <td><a href="https://www.webservice99.com/hypertech/ProductManuals/InlineSpeedo/730125_VSS_Instlltn_Prcdr.pdf">Installation Manual</a></td>
                        </tr>
                        <tr>
                            <td>2004-2008 Ford F-150 Trucks</td>
                            <td>730110</td>
                            <td><a href="https://www.webservice99.com/hypertech/ProductManuals/InlineSpeedo/730110_VSS_Instlltn_Prcdr.pdf">Installation Manual</a></td>
                        </tr>
                        <tr>
                            <td>2005-2007 Ford F-Series Superduty Trucks </td>
                            <td>730111</td>
                            <td><a href="https://www.webservice99.com/hypertech/ProductManuals/InlineSpeedo/730111_VSS_Instlltn_Prcdr.pdf">Installation Manual</a></td>
                        </tr>
                        <tr>
                            <td>2008 Ford F-Series Superduty Trucks </td>
                            <td>730112</td>
                            <td><a href="https://www.webservice99.com/hypertech/ProductManuals/InlineSpeedo/730112_2_VSS_Instlltn_Prcdr.pdf">Installation Manual</a></td>
                        </tr>
                        <tr>
                            <td>2007-2008 Ford Expedition &amp; Lincoln Navigator</td>
                            <td>730112</td>
                            <td><a href="https://www.webservice99.com/hypertech/ProductManuals/InlineSpeedo/730112_1_VSS_Instlltn_Prcdr.pdf">Installation Manual</a></td>
                        </tr>
                        <tr>
                            <td>2011-2014 Ford SuperDuty (gas and diesel) </td>
                            <td>730120</td>
                            <td><a href="https://www.webservice99.com/hypertech/ProductManuals/InlineSpeedo/730120_VSS_Instlltn_Prcdr.pdf">Installation Manual</a></td>
                        </tr>
                        <tr>
                            <td>2011-2014 Ford F-150 (all engines) </td>
                            <td>730121</td>
                            <td><a href="https://www.webservice99.com/hypertech/ProductManuals/InlineSpeedo/730121_VSS_Instlltn_Prcdr.pdf">Installation Manual</a></td>
                        </tr>
                        <tr>
                            <td>2009-2010 Ford SuperDuty (gas and diesel) </td>
                            <td>730118</td>
                            <td><a href="https://www.webservice99.com/hypertech/ProductManuals/InlineSpeedo/730118_VSS_Instlltn_Prcdr.pdf">Installation Manual</a></td>
                        </tr>
                    </tbody></table>
           

        </div>


    </div>



    <div class="content-card-next">

 
        <div class="section-title">
        <span>Supported GM Vehicles And Instructions </span>
        </div> 


            
        <div class="downloads-content">

                <table width="100%" cellspacing="0" cellpadding="3" border="0">
                        <tbody><tr>
                            <td width="600px"><strong>Application</strong></td>
                            <td><strong>Part number</strong></td>
                            <td><strong>Manual</strong></td>
                        </tr>
                        <tr>
                            <td>2019 - up GM 1500\2500\3500 <b>New Style</b></td>
                            <td>730129</td>
                            <td><a href="https://www.webservice99.com/hypertech/ProductManuals/InlineSpeedo/730129_VSS_Instlltn_Prcdr.pdf">Installation Manual</a></td>
                        </tr>
                        <tr>
                            <td>2019 - up GM Colorado and Canyon</td>
                            <td>730129</td>
                            <td><a href="https://www.webservice99.com/hypertech/ProductManuals/InlineSpeedo/730129_2_VSS_Instlltn_Prcdr.pdf">Installation Manual</a></td>
                        </tr>
                        <tr>
                            <td>2019 GM 1500 <b>Legacy Edition Old Style</b></td>
                            <td>730127</td>
                            <td><a href="https://www.webservice99.com/hypertech/ProductManuals/InlineSpeedo/730127_1_VSS_Instlltn_Prcdr.pdf">Installation Manual</a></td>
                        </tr>
                        <tr>
                            <td>2017-2018 GM 1500\2500\3500 Trucks &amp; Full Sized SUVs</td>
                            <td>730127</td>
                            <td><a href="https://www.webservice99.com/hypertech/ProductManuals/InlineSpeedo/730127_1_VSS_Instlltn_Prcdr.pdf">Installation Manual</a></td>
                        </tr>
                        <tr>
                            <td>2017-2018 GM Colorado\Canyon</td>
                            <td>730127</td>
                            <td><a href="https://www.webservice99.com/hypertech/ProductManuals/InlineSpeedo/730127_2_VSS_Instlltn_Prcdr.pdf">Installation Manual</a></td>
                        </tr>
                        <tr>
                            <td>2015-2016 GM 1500\2500\3500 Trucks &amp; Full Sized SUVs</td>
                            <td>730128</td>
                            <td><a href="https://www.webservice99.com/hypertech/ProductManuals/InlineSpeedo/730128_1_VSS_Instlltn_Prcdr.pdf">Installation Manual</a></td>
                        </tr>
                        <tr>
                            <td>2015-2016 GM Colorado\Canyon</td>
                            <td>730128</td>
                            <td><a href="https://www.webservice99.com/hypertech/ProductManuals/InlineSpeedo/730128_2_VSS_Instlltn_Prcdr.pdf">Installation Manual</a></td>
                        </tr>
                        <tr>
                            <td>2014 GM 1500 Trucks</td>
                            <td>730128</td>
                            <td><a href="https://www.webservice99.com/hypertech/ProductManuals/InlineSpeedo/730128_1_VSS_Instlltn_Prcdr.pdf">Installation Manual</a></td>
                        </tr>
                        <!--<tr>
                <td>2015-2017 GM 1500 Truckss&nbsp;</td><td>730124</td><td><a href="730124_VSS_Instlltn_Prcdr.pdf">Installation Manual</a></td></tr>-->
                        <tr>
                            <td>2007 - 2011 GM New Body Style Trucks</td>
                            <td>730102</td>
                            <td><a href="https://www.webservice99.com/hypertech/ProductManuals/InlineSpeedo/730102_VSS_Instlltn_Prcdr.pdf">Installation Manual</a></td>
                        </tr>
                        <tr>
                            <td>2007-2008 Cadillac Escalade </td>
                            <td>730102</td>
                            <td><a href="https://www.webservice99.com/hypertech/ProductManuals/InlineSpeedo/730102_2_VSS_Instlltn_Prcdr.pdf">Installation Manual</a></td>
                        </tr>
                    </tbody></table>
           

        </div>


    </div>


    <div class="content-card-next">

 
        <div class="section-title">
        <span>Supported Nissan Vehicles And Instructions </span>
        </div> 


            
        <div class="downloads-content">

                
           <table width="100%" cellspacing="0" cellpadding="3" border="0">
                        <tbody><tr>
                            <td width="600px"><strong>Application</strong></td>
                            <td><strong>Part number</strong></td>
                            <td><strong>Manual</strong></td>
                        </tr>
                        <tr>
                            <td>2022 Nissan Frontier</td>
                            <td>730126</td>
                            <td><a href="https://www.webservice99.com/hypertech/ProductManuals/InlineSpeedo/730126_frontier_VSS_Instlltn_Prcdr.pdf">Installation Manual</a></td>
                        </tr>
                        <tr>
                            <td>2018-2019 Nissan Frontier</td>
                            <td>730130</td>
                            <td><a href="https://www.webservice99.com/hypertech/ProductManuals/InlineSpeedo/730130_VSS_Instlltn_Prcdr2.pdf">Installation Manual</a></td>
                        </tr>
                        <tr>
                            <td>2016-2018 Nissan Titan &amp; Titan XD (Excludes S-Grade Trucks)</td>
                            <td>730126</td>
                            <td><a href="https://www.webservice99.com/hypertech/ProductManuals/InlineSpeedo/730126_VSS_Instlltn_Prcdr.pdf">Installation Manual</a></td>
                        </tr>
                        <tr>
                            <td>2004-2007 Nissan Titan</td>
                            <td>730104</td>
                            <td><a href="https://www.webservice99.com/hypertech/ProductManuals/InlineSpeedo/730104_730105_1_VSS_Instlltn_Prcdr.pdf">Installation Manual</a></td>
                        </tr>
                        <tr>
                            <td>2008-2010 Nissan Titan</td>
                            <td>730105</td>
                            <td><a href="https://www.webservice99.com/hypertech/ProductManuals/InlineSpeedo/730104_730105_2_VSS_Instlltn_Prcdr.pdf">Installation Manual</a></td>
                        </tr>
                        <tr>
                            <td>2008-2010 Nissan Armada</td>
                            <td>730105</td>
                            <td><a href="https://www.webservice99.com/hypertech/ProductManuals/InlineSpeedo/730104_730105_2_VSS_Instlltn_Prcdr.pdf">Installation Manual</a></td>
                        </tr>
                        <tr>
                            <td>2005-2007 Nissan Frontier</td>
                            <td>730106</td>
                            <td><a href="https://www.webservice99.com/hypertech/ProductManuals/InlineSpeedo/730106_VSS_Instlltn_Prcdr.pdf">Installation Manual</a></td>
                        </tr>
                    </tbody></table>

        </div>


    </div>



     <div class="content-card-next">

 
        <div class="section-title">
        <span>Supported Toyota Vehicles And Instructions</span>
        </div> 


            
        <div class="downloads-content">

                <table width="100%" cellspacing="0" cellpadding="3" border="0">
                        <tbody><tr>
                            <td width="600px"><strong>Application</strong></td>
                            <td><strong>Part number</strong></td>
                            <td><strong>Manual</strong></td>
                        </tr>
                        <tr>
                            <td> 2016-2018 Toyota Tundra</td>
                            <td>730119</td>
                            <td><a href="https://www.webservice99.com/hypertech/ProductManuals/InlineSpeedo/730119_2_VSS_Instlltn_Prcdr.pdf">Installation Manual</a></td>
                        </tr>
                        <tr>
                            <td> 2014-2015 Toyota Tundra</td>
                            <td>730119</td>
                            <td><a href="https://www.webservice99.com/hypertech/ProductManuals/InlineSpeedo/730119_VSS_Instlltn_Prcdr.pdf">Installation Manual</a></td>
                        </tr>
                        <tr>
                            <td>2016-2017 Toyota Tacoma</td>
                            <td>730123</td>
                            <td><a href="https://www.webservice99.com/hypertech/ProductManuals/InlineSpeedo/730123_VSS_Instlltn_Prcdr.pdf">Installation Manual</a></td>
                        </tr>
                        <tr>
                            <td>2007-2013 Toyota Tundra</td>
                            <td>730103</td>
                            <td><a href="https://www.webservice99.com/hypertech/ProductManuals/InlineSpeedo/730103_VSS_Instlltn_Prcdr.pdf">Installation Manual</a></td>
                        </tr>
                        <tr>
                            <td>2008-2011 Toyota Sequoia</td>
                            <td>730103</td>
                            <td><a href="https://www.webservice99.com/hypertech/ProductManuals/InlineSpeedo/730103_VSS_Instlltn_Prcdr.pdf">Installation Manual</a></td>
                        </tr>
                        <tr>
                            <td>2005-2011 Toyota Tacoma</td>
                            <td>730107</td>
                            <td><a href="https://www.webservice99.com/hypertech/ProductManuals/InlineSpeedo/730107_VSS_Instlltn_Prcdr.pdf">Installation Manual</a></td>
                        </tr>
                        <tr>
                            <td>2007-2010 Toyota FJ Cruiser</td>
                            <td>730108</td>
                            <td><a href="https://www.webservice99.com/hypertech/ProductManuals/InlineSpeedo/730108_VSS_Instlltn_Prcdr.pdf">Installation Manual</a></td>
                        </tr>
                        <tr>
                            <td>2008 Toyota Highlander &amp; Highlander Hybrid (HV)</td>
                            <td>730113</td>
                            <td><a href="https://www.webservice99.com/hypertech/ProductManuals/InlineSpeedo/730106_VSS_Instlltn_Prcdr.pdf">Installation Manual</a></td>
                        </tr>
                        <tr>
                            <td>2006-2008 Toyota RAV4</td>
                            <td>730114</td>
                            <td><a href="https://www.webservice99.com/hypertech/ProductManuals/InlineSpeedo/730114_VSS_Instlltn_Prcdr.pdf">Installation Manual</a></td>
                        </tr>
                        <tr>
                            <td> 2012-2015 Toyota Tacoma</td>
                            <td>730117</td>
                            <td><a href="https://www.webservice99.com/hypertech/ProductManuals/InlineSpeedo/730117_VSS_Instlltn_Prcdr.pdf">Installation Manual</a></td>
                        </tr>
                    </tbody></table>
           

        </div>


    </div>

  </div>
</div>
