<div class="page-width contentContainer page-{{ page.handle }}">
  <div class="contentWrapper">
    <div class="content-card">

 
<div class="page-hero" style="background:url({{ 'support-faqs.png' | asset_url }});">
      <h1>{{ page.title }}</h1>
 </div>


        
<div class="downloads-content">

    <div class="downloads-item">
        <div class="downloads-header"><span>Hypertech Internet Update Software</span></div>
        <div class="downloads-content">

            <h1>How to Update your Power Programmer</h1>                   			                                                            
            <div style="text-align:left;">
                <p>Most Hypertech products are easily updated over the internet using Hypertech’s internet update software for Windows.</p>

                <p>Updateable products include Max Energy 2.0, Max Energy, Speedometer Calibrator, Interceptor, and Inline Speedometer Calibrator (device configuration only).</p>

                <p>The Inline Speedometer Calibrator Configuration software can now be launched from the internet update software.  The Inline Speedometer Calibrator Configuration software is used to configure the Inline Speedometer Calibrator device for the correct application and tire and gear value changes. It does not update the Inline Speedometer Calibrator device firmware. The Inline Speedometer Calibrator Configuration software is no longer available as standalone download.</p>

                <p>Click the button below to download the latest version of the Tuner Update software installer. After the installer is downloaded to the computer, simply run the installer and follow the on-screen prompts for installation.</p>

                <p>The internet update software is only available for computers running Windows 7, Windows 8.1, and Windows 10.</p>

                <p>There is also a button below that will guide you through the update process.</p>            
            </div>     
        </div>
        <div class="downloads-links">
            <a class="button" target="_blank" href="https://cdn.shopify.com/s/files/1/0518/4264/6211/files/Update_Instructions.pdf?v=1611136888">Installation Instructions</a>          

            <a class="button" target="_blank" href="https://www.webservice99.com/downloads/tunerupdateapplication/v2/current/Setup_web.exe">Download Software</a>
        </div>
    </div>



    <div class="downloads-item">
        <div class="downloads-header"><span>React Tuning Optimizer Software</span></div>
        <div class="downloads-content">

                <p>Hypertech developed the REACT Tuning Optimizer software to allow you to develop your own custom pedal curves if you want to further customize your throttle response. Once installed, open the Tuning Optimizer software and connect the REACT APP Module (not the Controller Module) to your PC or Windows laptop via the supplied micro USB cable (the cable that connects the REACT APP Module with the REACT Controller Module). Plug the small end into the REACT APP Module and the large end into your laptop or PC. You can now adjust your own curves, save the curve set, or store another curve set on your REACT APP Module that you got from a friend or tuner in your Car/Jeep/Truck club. Once you’re done making changes to a curve or importing a new Tune Set, click the “Write to Module” button, followed by the "Disconnect From APP” button, and exit the program. You can now reconnect your REACT APP Module and Controller Module.</p>            
            
                      
            <strong>Note: The REACT Tuning Optimizer software is ONLY compatible on a Windows-based computer.</strong>   

        </div>
        <div class="downloads-links">
            <a class="button" target="_blank" href="https://youtu.be/jBY6uQC4se0">Instructional Video</a>          

            <a class="button" target="_blank" href="https://cdn.shopify.com/s/files/1/0518/4264/6211/files/ReactTuningOptimizer_web.exe?v=1611137064">Download Software</a>
        </div>
    </div>

    <div class="downloads-item">
        <div class="downloads-header"><span>Inline Speedometer Calibrator</span></div>
        <div class="downloads-content">

                <p>

                    The Inline Speedometer Calibrator Configuration software has been integrated into the internet update software. Please see How to Update your Hypertech Product above
                </p>            
            
                      
              
            
        </div>
        <div class="downloads-links">
            
        </div>
    </div>

    <div class="downloads-item">
        <div class="downloads-header"><span>Standalone USB Driver Installer For Hypertech Products</span></div>
        <div class="downloads-content">

                <h1 style="text-align:left;">How to Download the Standalone USB Driver Installer</h1>

            <p>Hypertech Products communicates with its accompanying configuration software via USB. The module utilizes a Windows USB driver supplied by Future Technologies Devices International (FTDI). For most users these drivers are more than likely already installed on the target PC and no additional steps are required. </p>

            <p>If the drivers are not currently installed on the target PC, Windows will attempt to automatically download and install the latest version of the FTDI USB drivers. This is an automatic process for most Windows operating systems configurations. Please note that when Windows attempts to automatically install the USB drivers that it can take as long as 10 minutes to complete. This is a function of Windows and not the Inline Speedometer Calibrator software.</p>	

            <p>If for some reason the FTDI USB drivers are not installed and will not automatically install, the drivers will have to manually downloaded and installed. To download the latest version of the FTDI driver, visit the following link at <a target="_blank" href="http://www.ftdichip.com/Drivers/D2XX.htm">http://www.ftdichip.com/Drivers/D2XX.htm</a>. To download the driver, look for Windows row under the Operating System column and then click on “setup executable” in the Comments column. See picture below. This will download the driver to the PC. Please note the location on the PC where the file is downloaded to.</p>	

	        <p> After the driver has been downloaded, please visit the following link to FTDI’s installation instructions. The driver installation can vary between versions of Windows. Please choose the instruction that matches your Windows operating system version. <a target="_blank" href="http://www.ftdichip.com/Support/Documents/InstallGuides.htm">http://www.ftdichip.com/Support/Documents/InstallGuides.htm</a></p>
            
	        <p>If you need assistance installing the driver, please contact Hypertech’s Tech Support.</p>          
            
                      
              
            
        </div>
        <div class="downloads-links">
            
        </div>
    </div>



   {{ page.content }}

</div>


    </div>
  </div>
</div>
