<div class="page-width contentContainer page-{{ page.handle }} instructional-page">
  <div class="contentWrapper">
    <div class="content-card">

 
        <div class="page-hero">
            <img src="https://cdn.shopify.com/s/files/1/0518/4264/6211/files/Inline-Header.gif?v=1644487167" /><br />
            <h3>USB Driver Installation</h3>
        </div> 


            
            <div class="downloads-content">

              

                               				
				        <p>The Hypertech Inline Speedometer Calibrator module communicates with its accompanying configuration software via USB. The module utilizes a Windows USB driver supplied by Future Technologies Devices International (FTDI). For most users these drivers are more than likely already installed on the target PC and no additional steps are required. </p>

			            <p>If the drivers are not currently installed on the target PC, Windows will attempt to automatically download and install the latest version of the FTDI USB drivers. This is an automatic process for most Windows operating systems configurations. Please note that when Windows attempts to automatically install the USB drivers that it can take as long as 10 minutes to complete. This is a function of Windows and not the Inline Speedometer Calibrator software.</p>	

			            <p>If for some reason the FTDI USB drivers are not installed and will not automatically install, the drivers will have to manually downloaded and installed. To download the latest version of the FTDI driver, visit the following link at <a target="_blank" href="http://www.ftdichip.com/Drivers/D2XX.htm">http://www.ftdichip.com/Drivers/D2XX.htm</a>. To download the driver, look for Windows row under the Operating System column and then click on “setup executable” in the Comments column. See picture below. This will download the driver to the PC. Please note the location on the PC where the file is downloaded to.</p>

				        <img style="width:100%;" src="https://cdn.shopify.com/s/files/1/0518/4264/6211/files/Ftdi_driverDownloadSample.png?v=1644505282" /><br />

				        <p> After the driver has been downloaded, please visit the following link to FTDI’s installation instructions. The driver installation can vary between versions of Windows. Please choose the instruction that matches your Windows operating system version. <a target="_blank" href="http://www.ftdichip.com/Support/Documents/InstallGuides.htm">http://www.ftdichip.com/Support/Documents/InstallGuides.htm</a></p>

				        <p>If you need assistance installing the driver, please contact Hypertech’s Tech Support.</p>
				    
                    
            </div>

        </div>


    </div>


    



    


    


    </div>
</div>
