<div class="page-width contentContainer page-{{ page.handle }} instructional-page">
  <div class="contentWrapper">
    <div class="content-card">

 
        <div class="page-hero">
            <img src="https://cdn.shopify.com/s/files/1/0518/4264/6211/files/Inline-Header.gif?v=1644487167" /><br />
            <h3>In-line Speedometer Module Programming Instructions</h3>
        </div> 


            
            <div class="downloads-content">

                <div class="downloads-item">
                    <div class="downloads-content">

                            <div class="cardcontainer" style="padding-top:0;">
                               
                            </div>  
                    </div>
                    
                </div>

        </div>


    </div>


    <div class="content-card-next">
        <div class="section-title">
        <span> Step 1: Run the Software </span>
        </div> 


            
        <div class="downloads-content">
					    
					<p><img src="https://cdn.shopify.com/s/files/1/0518/4264/6211/files/InLineCfgSwScreenShot.jpg?v=1644488906" style="float:left;margin-right:20px;" /> 

Run the Configuration Software for the Hypertech In-line Speedometer Module. The program is run from the Inline Speedometer Calibrator Configuration Software Switchboard application. The Inline Speedometer Calibrator Configuration Software Switchboard application can be downloaded from <a href="https://www.webservice99.com/downloads/tunerupdateapplication/v2/current/Setup_web.exe">here</a>
</p>


        </div>
    </div>



    <div class="content-card-next">
        <div class="section-title">
            <span>Step 2: Select your vehicle  </span>
        </div> 
        <div class="downloads-content">
                <p>Select the vehicle application for your vehicle, highlight the correct year and make.</p>

        </div>
    </div>


    <div class="content-card-next">

        <div class="section-title">
        <span>Step 3: Select tire and gear  </span>
        </div> 
            
        <div class="downloads-content">

                 <p>If you have non-stock tires, click on the checkbox for "Tires are 
				        non-stock" and this will allow you to use the tire correction boxes. Enter 
				        the old and new tire sizes. You can enter the tire sizes in 
				        <strong>either </strong>inches <strong>or</strong>                     
				        in xxx/yyyRzzz format.&nbsp; The ratio of the old and new tire diameters 
				        is given in the <b><i>Ratio</i></b> edit box below the tire sizes.&nbsp;The 
				        example above shows where the old (stock) tire size is entered as 
				        255/70/R17.</p>


				        <p>If you have changed the gear ratio, click the box in front of&nbsp; 
				        "Gears are non-stock". Then enter&nbsp;the information&nbsp;for the old and new 
				        gear. The overall ratio will&nbsp;show the final correction taking into account 
				        both tire and gear.&nbsp;</p>
           

        </div>
    </div>



    <div class="content-card-next">
        <div class="section-title">
        <span>Step 4: Connect unit to the PC </span>
        </div> 


            
        <div class="downloads-content">

                <p>Connect the unit to the PC using a USB cable.&nbsp; If the USB drivers 
				        have not yet been installed, you will have an opportunity to do so now. 
				        Please click <a target="_blank" href="/pages/inline-speedometer-usb-driver-installation">here</a> for USB driver installation Instructions. You may have to wait 
				        4-5 seconds for the PC to recognize the unit.</p>
        
        </div>
    </div>


    <div class="content-card-next">


        <div class="section-title">
        <span>Step 5: Program the unit </span>
        </div> 


            
        <div class="downloads-content">

                        <p>Click on the <b><i>Program</i></b> button.&nbsp; The <b><i>Status</i></b> 
				        field at the bottom will indicate the status of the programming session.&nbsp; 
				        It should take only 4-5 seconds to program the unit.&nbsp; Upon 
				        completion, the <b><i>Status</i></b> field will say either “Success” or 
				        “Error”.&nbsp; If the status is “Success”, you are done and can disconnect 
				        the unit from the PC and install it in the vehicle.&nbsp; If the status 
				        was “Error”, the programming session was unsuccessful, and you can either 
				        attempt to program again (without disconnecting the unit from the PC), or 
				        you can contact Hypertech for support.</p>
           

        </div>


    </div>

  </div>
</div>
