<div class="page-width contentContainer page-{{ page.handle }}">
  <div class="contentWrapper">
    <div class="content-card">

 <div class="page-hero" style="background:url({{ 'support-faqs.png' | asset_url }});">
      <h1>{{ page.title }}</h1>
 </div>


<div class="faqs-content">

<div class="faq-title">Definitions</div>
  <div class="faqs-row">
       <button class="accordion">What is Premium fuel?</button>
        <div class="panel">
          <p>91 to 93 octane whichever is available in the area.</p>
        </div>

      <button class="accordion">What is Regular fuel?</button>
      <div class="panel">
        <p>87 octane is normal for most areas. Certain higher elevations may have 85 octane which is fine while in the higher elevation.</p>
      </div>

      <button class="accordion">What does EGT stand for?</button>
      <div class="panel">
        <p>Exhaust Gas Temperature</p>
      </div> 

      <button class="accordion">What does DPF stand for?</button>
      <div class="panel">
        <p>Diesel Particulate Filter</p>
      </div> 

      <button class="accordion">What does the DPF do?</button>
      <div class="panel">
        <p>Hypertech tuning is Emission legal in all 50 states</p>

        <p>The DPF is designed to capture diesel exhaust gas particulate, or soot, from the exhaust gas stream. The filter uses a system of porous chambers to trap the particulate, while the clean exhaust gas exits the filter.</p>

        <p>DPF filters came as OE emmission equipment on all 2008 model diesel trucks to meet new EPA regulations.</p>

      </div>

      <button class="accordion">What is regeneration?</button>
      <div class="panel">
        <p>Regeneration is the process by which the DPF (Diesel Particulate Filter) cleans itself.</p>
      </div>

  </div>


<div class="faq-title">Product Specific</div>
  <div class="faqs-row">

      <button class="accordion">What is the difference between the PP3, Max Energy, and the Max Energy ECON?</button>
      <div class="panel">
        <p>The Max Energy and E-Con are internet updateable, include our software on a CD and a USB cable, the PP3 is not internet updateable. Both the Max Energy and PP3 have the same Power Tuning and options/features.<br><br>
                           The E-Con for gasoline models have our Power Tuning for regular fuel and the DTC (diagnostic trouble code) feature.<br><br>
                           The E-Con for diesel models have two levels of power, Level A and B and the DTC feature. Where the Max Energy has 3 levels of power and other features/options which vary depending on model year, make, engine and transmission.  Such as adjustable top speed limiter, rev limiter, calibrates speedometer for tire/gear changes.<br><br>
                           To see a feature comparison chart, selec "Product Comparison" under the "Products" menu.
                        </p>
      </div>

      <button class="accordion">I already have custom tuning, can I still use a HyperPAC’s other features?</button>
      <div class="panel">
        <p>Yes, the HyperPAC’s Gauge, Drag Strip, Dyno, and Code reading/cleaning programs can be used without the Hypertech tuning.</p>
      </div>
  </div>


<div class="faq-title">Performance Tuning</div>
  <div class="faqs-row">

      <button class="accordion">What is the difference between “fly wheel” and “wheel” power numbers?</button>
      <div class="panel">
        <p>“Fly wheel” and “wheel” power numbers are related in the fact they both are used to show how much power a vehicle has. The difference is that “fly wheel” power is representative of how much power a engine produces and while “wheel” power is representative of how much power is put out at the wheels. These numbers will not be the same because there will be some drive train loss.</p>
      </div>

      <button class="accordion">Why are Hypertech’s stock power numbers less than the stock numbers the manufactures claim?</button>
      <div class="panel">
        <p>OE manufacturers advertised horsepower ratings are for the engine. Hypertech, like most aftermarket companies, measure horsepower at the rear wheels with a chassis dyno. Rear wheel horsepower numbers can vary as much as 20% from engine HP numbers due to drivetrain losses.</p>
      </div>

  </div>


<div class="faq-title">Emissions</div>
  <div class="faqs-row">

    <button class="accordion">Will my vehicle still pass inspection with Hypertech tuning installed?</button>
      <div class="panel">
        <p>Hypertech tuning is Emission legal in all 50 states<br ><br />Hypertech’s tuning will not cause your vehicle fail inspection</p>
      </div>

      <button class="accordion">Will Hypertech’s tuning affect my DPF?</button>
      <div class="panel">
        <p>No, the DPF is not affected.</p>
      </div>

      <button class="accordion">Will Hypertech’s tuning causes more frequent regenerations?</button>
      <div class="panel">
        <p>No, during testing of vehicles equipped with DPFs (Diesel Particulate Filters) we noticed no increase in the frequency of regenerations.</p>
      </div>

  </div>


<div class="faq-title">Diesel Vehicles</div>
  <div class="faqs-row">
  
      <button class="accordion">Why are there 3 stages of tuning for diesels?</button>
      <div class="panel">
        <p>Customers needs vary greatly, many do no tow at all and some tow loads exceed the vehicle manufacturer's towing limits. For customers towing these extremely heavy loads they will be able to use levels 1 or 2 in order to still have a power gain and not worry about excessive EGT’s or drivetrain failures. 3 stages of tuning gives the user options for differences in driving conditions, vehicle loads, and driving habits.</p>
      </div>

      <button class="accordion">Which stage of three stages of tuning for diesels is for towing?</button>
      <div class="panel">
        <p>All 3 levels of our tuning is tow safe up to the towing capacity for the vehicle.</p>
      </div>

      <button class="accordion">Which of the three stages of diesel tuning is the most powerful?</button>
      <div class="panel">
        <p>Stage 3 is the most powerful stage of diesel tuning.</p>
      </div>

      <button class="accordion">Which of the three stages of diesel tuning gives the best fuel economy?</button>
      <div class="panel">
        <p>We recommend that you experiment with the three different stages to determine which gives you the best fuel economy.<br /><br />

        Fuel economy can vary based on driving conditions, vehicle loads, and driving habits. Most users that tow heavy loads, 8,000 lbs or more, report that they get the best fuel mileage on Stage 3. Most users that don’t’ tow, or tow light loads infrequently, report that they get the best fuel mileage on Stage 1 and 2. The best way to determine the optimum fuel economy for your vehicle and driving conditions is to try each setting.</p>
      </div>

      <button class="accordion">Will Hypertech’s tuning affect my DPF?</button>
      <div class="panel">
        <p>No, the DPF is not affected.</p>
      </div>

      <button class="accordion">Will Hypertech’s tuning causes more frequent regenerations?</button>
      <div class="panel">
        <p>No, during testing of vehicles equipped with DPFs (Diesel Particulate Filters) we noticed no increase in the frequency of regenerations.</p>
      </div>

      <button class="accordion">Can I still use tow/haul mode?</button>
      <div class="panel">
        <p>Yes, you can still use tow/haul mode and it is recommended.</p>
      </div>

      <button class="accordion">Will I have to install an EGT gauge if I plan on towing with Hypertech’s tuning?</button>
      <div class="panel">
        <p>No, an EGT gauge is not required while towing with Hypertech’s tuning. Our tuning is engineered so as to not exceed unsafe EGT levels, even under extreme use.</p>
      </div>

  </div>


<div class="faq-title">Gasoline Vehicles</div>
  <div class="faqs-row">

    <button class="accordion">Can I run regular fuel with premium fuel tuning?</button>
      <div class="panel">
        <p>No. Running regular fuel while using the premium fuel tuning could cause your engine to “ping” / detonate.</p>
      </div>

      <button class="accordion">Can I run premium fuel with regular fuel tuning?</button>
      <div class="panel">
        <p>Yes, but you will see no performance gain from doing so.</p>
      </div>

      <button class="accordion">E-85/Flex-fuel vehicle which tuning is right for me?</button>
      <div class="panel">
        <p>Our tuning is compatible with Flex-Fuel vehicles using E-85 fuel.  Our tuning is NOT designed for using E-85 fuel in a vehicle that was not equipped from the OE for Flex-Fuel use.<br><br>Octane ratings of E-85 fuel exceed those of most premium gasoline blends, and in most cases, our premium fuel tune can be used with E-85.</p>
      </div>

      <button class="accordion">Can I still use tow/haul mode?</button>
      <div class="panel">
        <p>Yes, you can still use tow/haul mode and it is recommended.</p>
      </div>

  </div>


<div class="faq-title">Programming</div>
  <div class="faqs-row">

      <button class="accordion">How hard is programming a vehicle?</button>
      <div class="panel">
        <p>Programming a vehicle with a Hypertech Programmer is a very simple process. You simply plug the cable into your vehicles OBDII port which is typically located under the driver’s side dash, answer a few yes or no questions and follow the instructions that will scroll across the screen.</p>
      </div>

  </div>


<div class="faq-title">Features</div>

<div class="faqs-row">

      <button class="accordion">Why can I tow on the highest setting with Hypertech’s tuning when with other companies I can’t?</button>
      <div class="panel">
        <p>Most tuning companies greatly increase the quantity of fuel injected into diesel engines to get quick results and increased horsepower which can cause excessive exhaust gas temperature (EGT). Our proprietary tuning procedures tune differently so there is no concern with excessive EGT. Our tuning is tow safe on all 3 levels up to the towing capacity for the vehicle.</p>
      </div>

      <button class="accordion">How do I determine where to set my shift points?</button>
      <div class="panel">
        <p>Shift point adjusments are only in effect at wide open throttle. Optimum settings can vary based on the driver’s feel. It is best to start by raising the shift points in each gear in small increments, and test driving the vehicle. Here are some tips for adjusting shift points:<br><br>
                    For Maximum Performance: To optimize shift points for maximum acceleration, the shift points should be raised or lowered in each gear, until the quickest acceleration rate is found. The best, and most accurate way, to measure acceleration is at a dragstrip with a timing system. Start out with the stock shift points as a baseline. Adjust the 1-2 shift first, going up or down in 100 RPM increments. Once you have found the shift point that gives you the quickest time, then repeat the same procedure for the rest of the gear changes.<br><br>
                    For Driver Feel: Most of the time, shift points can be tailored to the driver’s preference. For example, if the vehicle seems to shift too soon while passing at full throttle, the shift point at that gear change can be raised. The best method is trial and error.</p>
      </div>


      <button class="accordion">How do I determine where I should set my cooling fans on/off temperatures?</button>
      <div class="panel">
        <p>There is an option (depending on year, make, model) which ask if you have installed a low temperature thermostat. Selecting which temperature 160 or 180f degree stat will automatically turn the cooling fan on at the correct temperature.</p>
      </div>

      <button class="accordion">How can I find my tires speed rating?</button>
      <div class="panel">
        <p>A letter designating the tire’s speed rating is listed on its sidewall. If this rating is not on the tire, contact the tire MFG.</p>
      </div>

  </div>



<div class="faq-title">Updates and Upgrades</div>
  <div class="faqs-row">


      <button class="accordion">How do I upgrade my Speedometer Calibrator to an ECON or Max Energy?</button>
      <div class="panel">
        <p>Since the E-Con does not correct the speedometer we recommend NOT updating to the E-Con. To update to the Max Energy call our tech line with the Serial# and part# off the back of the Speedometer Calibrator.<br /><br />Call 1-800-532-3351 or 901-382-8888</p>
      </div>

      <button class="accordion">How do I upgrade my ECON to Max Energy?</button>
      <div class="panel">
        <p>To update to the Max Energy call our tech line with the Serial# and part# off the back of the Speedometer Calibrator<br /><br />Call 1-800-532-3351 or 901-382-8888</p>
      </div>

      <button class="accordion">Where can I download the Max Energy internet update software?</button>
      <div class="panel">
        <p>You can download internet update software from the support page.</p>
      </div>

      <button class="accordion">Where can I purchase an Internet update USB cable?</button>
      <div class="panel">
        <p>A USB cable to connect your programmer to a computer is included with our internet updateable products. The internet update USB cable is a USB to mini USB cable that can be found at any electronics store.</p>
      </div>

</div>
  

<div class="faq-title">Warranty</div>
  <div class="faqs-row">

    <button class="accordion">How does the 30 day money back guarantee work?</button>
      <div class="panel">
        <p>Simply return the product within 30 days from the date of purchase and receive a full refund. Please note that the vehicle must be programmed back to stock before the unit can be returned.</p>
      </div>

  </div>


<div class="faq-title">Support and Troubleshooting</div>
  <div class="faqs-row">

  <button class="accordion">Where can I download product manuals?</button>
      <div class="panel">
        <p>You can download product manuals from the support page.</p>
      </div>

  <button class="accordion">What are the most commons programming interruptions?</button>
      <div class="panel">
        <p>It is critical during the programming process that the tuner doesn’t get interrupted. This could cause the vehicle computer to “crash”, and the vehicle to be inoperable.<br /><br />Interruptions can be caused by a drop in battery voltage, causing the vehicle’s computer to cycle on and off, by accessories that communicate with the vehicle’s computer, such as OnStar, or by the programming cable being unplugged or not securely connected.<br /><br />We recommend removing fuses for any aftermarket accessories that draw voltage from the battery, as well as the OnStar system.</p>
      </div>

    <button class="accordion">Warning lights on the dash started flashing while I was programming is that normal?</button>
      <div class="panel">
        <p>Yes, it is normal for the warning lights to flash while the vehicle is being programmed.</p>
      </div>

  </div>


       {{ page.content }}


</div>




    </div>
  </div>
</div>


<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight) {
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    }
  });
}
</script>