<div class="page-width contentContainer page-{{ page.handle }}">
  <div class="contentWrapper">
    <div class="content-card">

 
<div class="page-hero" style="background:url({{ 'support-faqs.png' | asset_url }});">
      <h1>{{ page.title }}</h1>
 </div>


        
<div class="upgrades-content">


            <p>If you own a Speedometer Calibrator or a Max Energy Econ you can upgrade your unit to a full featured Max Energy programmer.
            <br><br>

            All Max Energy Econ programmers offer upgrades for supported applications. Therefore, if you have already used the Econ programmer on your vehicle you can get additional tuning features by upgrading the programmer. To see a detailed list of the options that are offered for your vehicle use the product search (top right,  select Year / Make / Model / Engine) and look at the features for the Max Energy programmer.    
            <br><br>

            If you have a Speedometer Calibrator you should use the product search to make sure that a Max Energy programmer is offered for your vehicle. For some vehicles, speedometer calibration is offered but no engine tuning is available.
            </p>

            <br>
            <b>How do I upgrade</b>

            <p>To upgrade your programmer, call Hypertech at 901-382-8888. Make sure you have the following information ready:</p>
            <br>
            · Part number 
            <br>
            · Serial number
            <br>
            · Vehicle make, model, year and engine information
            <br>
            · A major credit card to pay the upgrade fee
            <br><br>
            <p>Your vehicle has to be programmed back to stock setting. After you buy the upgrade, you use the “Tuner Update Application” that was included on the CD that came with your programmer to download the upgrade over the internet.</p>
            

        
        {{ page.content }}

</div>


    </div>
  </div>
</div>

