<div class="page-width contentContainer job-template page-{{ page.handle }}">
  <div class="contentWrapper">
    <div class="content-card">



   {{ page.content }}


<img class="hypertech_footerlogo" src="{{ 'Hypertech_logo1.png' | asset_url }}" alt="Hypertech Logo" />

    </div>
  </div>
</div>
